@charset "utf-8";

/* placeholder */
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder{font-size:16px;color:#000;opacity:0.2;font-weight:700;letter-spacing:-1px;line-height:25px;}
textarea::-moz-placeholder,
input::-moz-placeholder{font-size:16px;color:#000;opacity:0.2;font-weight:700;letter-spacing:-1px;line-height:25px;}
textarea:-ms-input-placeholder,
input:-ms-input-placeholder{font-size:16px;color:#000;opacity:0.2;font-weight:700;letter-spacing:-1px;line-height:25px;}
textarea:-moz-placeholder,
input:-moz-placeholder{font-size:16px;color:#000;opacity:0.2;font-weight:700;letter-spacing:-1px;line-height:25px;}



/*form*/
input[type="text"], input[type="number"], input[type="password"], input[type="date"],input[type="tel"], input[type="search"]{
	border:1px solid #fff;
	border-bottom-color:#c2c2c2;
	height:40px;
	line-height:1;
	font-family:"Noto Sans KR";
	font-size:16px;
	color:#000;
	padding:5.5px 0;
	width:100%;
	background-color:#fff;
	font-weight:700;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	caret-color:#3380ff;
}
/*textarea*/
textarea{
	display:block;
	font-family:"Noto Sans KR";
	width:100%;
	height:auto;
	border:1px solid #fff;
	border-bottom-color:#c2c2c2;
	resize:none;
	font-size:16px;
	color:#000;
	padding:7px 0;
	line-height:1.5;
	caret-color:#3380ff;
	min-height:75px;
	background:#f5f5f5;
	padding:10px;
	border-top:none;
}
.set_label + textarea{margin-top:5px}
input.disabled, input:disabled, textarea:disabled{color:#acacac !important;background:#f5f5f5;opacity:1;}

select{
	border:1px solid #fff;
	border-bottom-color:#c2c2c2;
	height:40px;
	filter:alpha(opacity=0);
	font-family:"Noto Sans KR";
	font-size:16px;
	background-image:url('../img/icon_selectBg.png');
	background-position:right 12px;
	background-repeat:no-repeat;
	background-color:#fff;
	background-size:15px auto;
	cursor:pointer;
	padding:5.5px 0;
	padding-right:20px;
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
	appearance:none;
	color:#000;
	width:100%;
	font-weight:700;
}
/*.select_on{color:rgba(0,0,0,0.2);}*/
.select_on{color:#000;}
.selct_type01 select{
	width:auto;
	padding-right:20px;
	min-width:85px;
/*	border:1px solid #d9d9d9;
	border-radius:3px;
	font-size:13px;
	color:#666;
	background-image:url('../img/icon_selectBg1.png');
	background-size:13px auto;
	background-position:right center;
	padding:4.5px 8px;
	padding-right:20px;
	width:auto;
	font-weight:400;
	height:30px;
	min-width:75px;*/
}
.selct_type01 select + select{margin-left:10px}
select::-ms-expand{display:none;}
.text_focus::-ms-clear{display:none;}

input:focus, select:focus{border-bottom-color:#3380ff;outline:none;background-color:#fff}
input:read-only:focus, textarea:read-only:focus, input.readonly:focus{border-bottom-color:#c2c2c2;}

textarea:focus{border-bottom-color:#3380ff;outline:none;}
.selct_type01 select:focus{border-bottom-color:#d9d9d9;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
transition:background-color 5000s ease-in-out 0s;
-webkit-transition:background-color 9999s ease-out;
box-shadow:0 0 0px 1000px white inset !important;
}

select:disabled{color:#acacac;background-image:url('../img/icon_selectBg_off.png');}
/*button*/
.btn{
	font-family:"Noto Sans KR";
	display:inline-block;
	border-width:1px;
	border-style:solid;
	color:#000;
	text-align:center;
	font-size:15px;
	cursor:pointer;
	padding:10px;
	font-weight:400;
	border-radius:3px;
}

/*date type box*/
.date_box{position:relative;}
.date_box:after{content:"";position:absolute;right:0px;top:5px;display:block;width:30px;height:30px;background:url("../img/icon_cal01.png") no-repeat center center;background-size:17px auto;}
.date_box input[type="date"]{color:#fff;}
.date_box input[type="date"] + span{position:absolute;left:0px;top:11px;opacity:.2;font-weight:700;}
.date_box input[type="date"] + label{position:absolute;left:0px;top:11px;opacity:.2;font-weight:700;}
.date_box.on input[type="date"]{color:#000;}
.date_box.on input[type="date"] + span{display:none;}
.date_box.on input[type="date"] + label{display:none;}
.date_box input[type="month"]{color:#fff;}
.date_box input[type="month"] + span{position:absolute;left:0px;top:11px;opacity:.2;font-weight:700;}
.date_box input[type="month"] + label{position:absolute;left:0px;top:11px;opacity:.2;font-weight:700;}
.date_box.on input[type="month"]{color:#000;}
.date_box.on input[type="month"] + span{display:none;}
.date_box.on input[type="month"] + label{display:none;}
.time_box{position:relative;}
.time_box:after{content:"";position:absolute;right:0px;top:8px;display:block;width:30px;height:30px;background:url("../img/icon_time01.png") no-repeat center center;background-size:19px auto;}
.time_box input[type="time"]{color:#fff;}
.time_box input[type="time"] + label{position:absolute;left:0px;top:11px;opacity:.2;font-weight:700;}
.time_box.on input[type="time"]{color:#000;}
.time_box.on input[type="time"] + label{display:none;}
/*check box*/
input[type="checkbox"]{display:inline-block;position:absolute;left:-9999px;width:100%}
input[type="checkbox"] + label{z-index:1;position:relative;display:inline-block;cursor:pointer;line-height:19px;padding:8px;padding-left:30px;color:#333;font-size:14px;}
input[type="checkbox"] + label:before{content:"";display:inline-block;width:20px;height:20px;position:absolute;left:0;top:8px;background-image:url("../img/form_checkOff.png");background-position:center center;background-repeat:no-repeat;background-size:13px auto;border:1px solid #d9d9d9;}
input[type="checkbox"]:checked + label:before{background-image:url("../img/form_checkOn.png");}
input[type="checkbox"]:checked:disabled + label:before{content:"";display:inline-block;width:20px;height:20px;position:absolute;left:0;background-image:url("../img/form_checkOff.png");background-position:center center;background-repeat:no-repeat;background-size:13px auto;border:1px solid #d9d9d9;}
input[type="checkbox"]:disabled + label:before{background-image:url("../img/form_checkOff.png");}

/*check box*/
.check_one input[type="checkbox"] + label{padding:8px;padding-left:30px;font-size:16px;font-weight:500;}
.check_one input[type="checkbox"] + label:before{width:25px;height:23px;background-image:url("../img/form_checkOff1.png");background-size:25px auto;border:none;top:6px;}
.check_one input[type="checkbox"]:checked + label:before{background-image:url("../img/form_checkOn1.png");}
.check_one input[type="checkbox"]:checked:disabled + label:before{width:25px;height:23px;background-image:url("../img/form_checkOn1.png");background-size:25px auto;border:none;top:6px;}
.check_one input[type="checkbox"]:disabled + label:before{width:25px;height:23px;background-image:url("../img/form_checkOff1.png");background-size:25px auto;border:none;top:6px;}

.check_one.only input[type="checkbox"] + label{width:30px;height:30px;padding:0;}
.check_one.only input[type="checkbox"] + label:before{width:100%;height:100%;top:0;}
.check_one.only input[type="checkbox"]:checked + label:before{width:100%;height:100%;top:0;}

.check_one input[type="radio"] + label{padding:8px;padding-left:30px;font-size:16px;font-weight:500;}
.check_one input[type="radio"] + label:before{width:25px;height:23px;background-image:url("../img/form_checkOff1.png");background-size:25px auto;border:none;top:6px;border-radius:0;}
.check_one input[type="radio"]:checked + label:before{background-image:url("../img/form_checkOn1.png");border-radius:0;}
.check_one input[type="radio"]:checked:disabled + label:before{background-image:url("../img/form_checkOn1.png");}
.check_one input[type="radio"]:disabled + label:before{background-image:url("../img/form_checkOff1.png");}
.check_one_list .check_one{display:inline-block;padding-top:10px;}
.check_one_list .check_one + .check_one{padding-left:15px;}
/*radio box*/
/* input[type="radio"]{display:inline-block;position:absolute;left:-9999px;width:100%}
input[type="radio"] + label{z-index:1;position:relative;display:inline-block;cursor:pointer;line-height:19px;padding:8px;padding-left:24px;color:#333;font-size:14px;}
input[type="radio"] + label:before{content:"";display:inline-block;width:18px;height:18px;position:absolute;left:0;top:8px;background-image:url("../img/form_radioOff.png");background-position:center center;background-repeat:no-repeat;background-size:8px auto;border:1px solid #000;border-radius:50%;}
input[type="radio"]:checked + label:before{background-image:url("../img/form_radioOn.png");}
input[type="radio"]:checked:disabled + label:before{content:"";display:inline-block;width:20px;height:20px;position:absolute;left:0;background-image:url("../img/form_radioOff.png");background-position:center center;background-repeat:no-repeat;background-size:13px auto;border:1px solid #d9d9d9;}
input[type="radio"]:disabled + label:before{background-image:url("../img/form_radioOff.png");} */

.radio_one input[type="radio"] + label{padding:8px;padding-left:30px;font-size:16px;font-weight:500;}
.radio_one input[type="radio"] + label:before{width:25px;height:23px;background-image:url("../img/form_checkOff1.png");background-size:25px auto;border:none;top:6px;border-radius:0;}
.radio_one input[type="radio"]:checked + label:before{background-image:url("../img/form_checkOn1.png");border-radius:0;}
.radio_one input[type="radio"]:checked:disabled + label:before{background-image:url("../img/form_checkOn1.png");}
.radio_one input[type="radio"]:disabled + label:before{background-image:url("../img/form_checkOff1.png");}

.radio_btn_box{overflow:hidden;display:table;table-layout:fixed;}
.radio_btn{display:table-cell;overflow:hidden}
.radio_btn input[type="radio"] + label{border:1px solid #3380ff;border-left:none;background:#fff;padding:4px 15px;color:#3380ff;font-size:13px;display:block;}
.radio_btn:first-child input[type="radio"] + label{border-left:1px solid #3380ff;border-radius:4px;border-top-right-radius:0px;border-bottom-right-radius:0px;}
.radio_btn:last-child input[type="radio"] + label{border-radius:4px;border-top-left-radius:0px;border-bottom-left-radius:0px;}
.radio_btn input[type="radio"] + label:before{display:none}
.radio_btn input[type="radio"]:checked + label{background:#3380ff;color:#fff;}

.radio_list_box{overflow:hidden;}
.radio_list_box > *{float:left;}
.radio_list_box > * + *{margin-left:10px}

.check_half_list{overflow:hidden;padding-top:5px;}
.check_half_list > *{float:left;width:50%;padding:5px 0;}

/*switch input*/
.switch{position:relative;display:inline-block;width:42px;height:24px;}
.switch input{opacity:0;width:0;height:0;}
.switch .slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#cfcfd6;-webkit-transition:.4s;transition:.4s;}
.switch .slider:before{position:absolute;content:"";height:18px;width:18px;left:3px;bottom:3px;background-color:#fff;-webkit-transition:.4s;transition:.4s;}
.switch input:checked + .slider{background-color:#0f0f33;}
.switch input:checked + .slider:before{-webkit-transform:translateX(18px);-ms-transform:translateX(18px);transform:translateX(18px);}
.switch .slider.round{border-radius:17px;}
.switch .slider.round:before{border-radius:50%;}
.switch input:checked + .blue{background-color:#2196F3;}

/*font weight*/
.fw_400{font-weight:400 !important;}
.fw_500{font-weight:500 !important;}
.fw_600{font-weight:700 !important;}

/* margin */
.m0{margin:0 !important;}
.ml0{margin-left:0 !important;}
.ml1{margin-left:1px !important;}
.ml2{margin-left:2px !important;}
.ml3{margin-left:3px !important;}
.ml4{margin-left:4px !important;}
.ml5{margin-left:5px !important;}
.ml6{margin-left:6px !important;}
.ml7{margin-left:7px !important;}
.ml8{margin-left:8px !important;}
.ml9{margin-left:9px !important;}
.ml10{margin-left:10px !important;}
.ml11{margin-left:11px !important;}
.ml12{margin-left:12px !important;}
.ml13{margin-left:13px !important;}
.ml14{margin-left:14px !important;}
.ml15{margin-left:15px !important;}
.ml16{margin-left:16px !important;}
.ml17{margin-left:17px !important;}
.ml18{margin-left:18px !important;}
.ml19{margin-left:19px !important;}
.ml20{margin-left:20px !important;}
.ml21{margin-left:21px !important;}
.ml22{margin-left:22px !important;}
.ml23{margin-left:23px !important;}
.ml24{margin-left:24px !important;}
.ml25{margin-left:25px !important;}
.ml26{margin-left:26px !important;}
.ml27{margin-left:27px !important;}
.ml28{margin-left:28px !important;}
.ml29{margin-left:29px !important;}
.ml30{margin-left:30px !important;}
.ml31{margin-left:31px !important;}
.ml32{margin-left:32px !important;}
.ml33{margin-left:33px !important;}
.ml34{margin-left:34px !important;}
.ml35{margin-left:35px !important;}
.ml36{margin-left:36px !important;}
.ml37{margin-left:37px !important;}
.ml38{margin-left:38px !important;}
.ml39{margin-left:39px !important;}
.ml40{margin-left:40px !important;}
.ml41{margin-left:41px !important;}
.ml42{margin-left:42px !important;}
.ml43{margin-left:43px !important;}
.ml44{margin-left:44px !important;}
.ml45{margin-left:45px !important;}
.ml46{margin-left:46px !important;}
.ml47{margin-left:47px !important;}
.ml48{margin-left:48px !important;}
.ml49{margin-left:49px !important;}
.ml50{margin-left:50px !important;}
.ml51{margin-left:51px !important;}
.ml52{margin-left:52px !important;}
.ml53{margin-left:53px !important;}
.ml54{margin-left:54px !important;}
.ml55{margin-left:55px !important;}
.ml56{margin-left:56px !important;}
.ml57{margin-left:57px !important;}
.ml58{margin-left:58px !important;}
.ml59{margin-left:59px !important;}
.ml60{margin-left:60px !important;}
.ml61{margin-left:61px !important;}
.ml62{margin-left:62px !important;}
.ml63{margin-left:63px !important;}
.ml64{margin-left:64px !important;}
.ml65{margin-left:65px !important;}
.ml66{margin-left:66px !important;}
.ml67{margin-left:67px !important;}
.ml68{margin-left:68px !important;}
.ml69{margin-left:69px !important;}
.ml70{margin-left:70px !important;}
.mlPc20{margin-left:20% !important;}

.mt0{margin-top:0 !important;}
.mt1{margin-top:1px !important;}
.mt2{margin-top:2px !important;}
.mt3{margin-top:3px !important;}
.mt4{margin-top:4px !important;}
.mt5{margin-top:5px !important;}
.mt6{margin-top:6px !important;}
.mt7{margin-top:7px !important;}
.mt8{margin-top:8px !important;}
.mt9{margin-top:9px !important;}
.mt10{margin-top:10px !important;}
.mt11{margin-top:11px !important;}
.mt12{margin-top:12px !important;}
.mt13{margin-top:13px !important;}
.mt14{margin-top:14px !important;}
.mt15{margin-top:15px !important;}
.mt16{margin-top:16px !important;}
.mt17{margin-top:17px !important;}
.mt18{margin-top:18px !important;}
.mt19{margin-top:19px !important;}
.mt20{margin-top:20px !important;}
.mt21{margin-top:21px !important;}
.mt22{margin-top:22px !important;}
.mt23{margin-top:23px !important;}
.mt24{margin-top:24px !important;}
.mt25{margin-top:25px !important;}
.mt26{margin-top:26px !important;}
.mt27{margin-top:27px !important;}
.mt28{margin-top:28px !important;}
.mt29{margin-top:29px !important;}
.mt30{margin-top:30px !important;}
.mt31{margin-top:31px !important;}
.mt32{margin-top:32px !important;}
.mt33{margin-top:33px !important;}
.mt34{margin-top:34px !important;}
.mt35{margin-top:35px !important;}
.mt36{margin-top:36px !important;}
.mt37{margin-top:37px !important;}
.mt38{margin-top:38px !important;}
.mt39{margin-top:39px !important;}
.mt40{margin-top:40px !important;}
.mt41{margin-top:41px !important;}
.mt42{margin-top:42px !important;}
.mt43{margin-top:43px !important;}
.mt44{margin-top:44px !important;}
.mt45{margin-top:45px !important;}
.mt46{margin-top:46px !important;}
.mt47{margin-top:47px !important;}
.mt48{margin-top:48px !important;}
.mt49{margin-top:49px !important;}
.mt50{margin-top:50px !important;}
.mt51{margin-top:51px !important;}
.mt52{margin-top:52px !important;}
.mt53{margin-top:53px !important;}
.mt54{margin-top:54px !important;}
.mt55{margin-top:55px !important;}
.mt56{margin-top:56px !important;}
.mt57{margin-top:57px !important;}
.mt58{margin-top:58px !important;}
.mt59{margin-top:59px !important;}
.mt60{margin-top:60px !important;}
.mt61{margin-top:61px !important;}
.mt62{margin-top:62px !important;}
.mt63{margin-top:63px !important;}
.mt64{margin-top:64px !important;}
.mt65{margin-top:65px !important;}
.mt66{margin-top:66px !important;}
.mt67{margin-top:67px !important;}
.mt68{margin-top:68px !important;}
.mt69{margin-top:69px !important;}
.mt70{margin-top:70px !important;}
.mt75{margin-top:75px !important;}
.mt80{margin-top:80px !important;}
.mt85{margin-top:85px !important;}
.mt90{margin-top:90px !important;}
.mt95{margin-top:95px !important;}
.mt100{margin-top:100px !important;}
.mt105{margin-top:105px !important;}
.mt110{margin-top:110px !important;}
.mt115{margin-top:115px !important;}
.mt120{margin-top:120px !important;}
.mt125{margin-top:125px !important;}
.mt130{margin-top:130px !important;}
.mt135{margin-top:135px !important;}
.mt140{margin-top:140px !important;}
.mt145{margin-top:145px !important;}
.mt150{margin-top:150px !important;}
.mt155{margin-top:155px !important;}
.mt160{margin-top:160px !important;}

.mr0{margin-right:0 !important;}
.mr1{margin-right:1px !important;}
.mr2{margin-right:2px !important;}
.mr3{margin-right:3px !important;}
.mr4{margin-right:4px !important;}
.mr5{margin-right:5px !important;}
.mr6{margin-right:6px !important;}
.mr7{margin-right:7px !important;}
.mr8{margin-right:8px !important;}
.mr9{margin-right:9px !important;}
.mr10{margin-right:10px !important;}
.mr11{margin-right:11px !important;}
.mr12{margin-right:12px !important;}
.mr13{margin-right:13px !important;}
.mr14{margin-right:14px !important;}
.mr15{margin-right:15px !important;}
.mr16{margin-right:16px !important;}
.mr17{margin-right:17px !important;}
.mr18{margin-right:18px !important;}
.mr19{margin-right:19px !important;}
.mr20{margin-right:20px !important;}
.mr21{margin-right:21px !important;}
.mr22{margin-right:22px !important;}
.mr23{margin-right:23px !important;}
.mr24{margin-right:24px !important;}
.mr25{margin-right:25px !important;}
.mr26{margin-right:26px !important;}
.mr27{margin-right:27px !important;}
.mr28{margin-right:28px !important;}
.mr29{margin-right:29px !important;}
.mr30{margin-right:30px !important;}
.mr31{margin-right:31px !important;}
.mr32{margin-right:32px !important;}
.mr33{margin-right:33px !important;}
.mr34{margin-right:34px !important;}
.mr35{margin-right:35px !important;}
.mr36{margin-right:36px !important;}
.mr37{margin-right:37px !important;}
.mr38{margin-right:38px !important;}
.mr39{margin-right:39px !important;}
.mr40{margin-right:40px !important;}
.mr41{margin-right:41px !important;}
.mr42{margin-right:42px !important;}
.mr43{margin-right:43px !important;}
.mr44{margin-right:44px !important;}
.mr45{margin-right:45px !important;}
.mr46{margin-right:46px !important;}
.mr47{margin-right:47px !important;}
.mr48{margin-right:48px !important;}
.mr49{margin-right:49px !important;}
.mr50{margin-right:50px !important;}
.mr51{margin-right:51px !important;}
.mr52{margin-right:52px !important;}
.mr53{margin-right:53px !important;}
.mr54{margin-right:54px !important;}
.mr55{margin-right:55px !important;}
.mr56{margin-right:56px !important;}
.mr57{margin-right:57px !important;}
.mr58{margin-right:58px !important;}
.mr59{margin-right:59px !important;}
.mr60{margin-right:60px !important;}
.mr61{margin-right:61px !important;}
.mr62{margin-right:62px !important;}
.mr63{margin-right:63px !important;}
.mr64{margin-right:64px !important;}
.mr65{margin-right:65px !important;}
.mr66{margin-right:66px !important;}
.mr67{margin-right:67px !important;}
.mr68{margin-right:68px !important;}
.mr69{margin-right:69px !important;}
.mr70{margin-right:70px !important;}

.mb0{margin-bottom:0 !important;}
.mb1{margin-bottom:1px !important;}
.mb2{margin-bottom:2px !important;}
.mb3{margin-bottom:3px !important;}
.mb4{margin-bottom:4px !important;}
.mb5{margin-bottom:5px !important;}
.mb6{margin-bottom:6px !important;}
.mb7{margin-bottom:7px !important;}
.mb8{margin-bottom:8px !important;}
.mb9{margin-bottom:9px !important;}
.mb10{margin-bottom:10px !important;}
.mb11{margin-bottom:11px !important;}
.mb12{margin-bottom:12px !important;}
.mb13{margin-bottom:13px !important;}
.mb14{margin-bottom:14px !important;}
.mb15{margin-bottom:15px !important;}
.mb16{margin-bottom:16px !important;}
.mb17{margin-bottom:17px !important;}
.mb18{margin-bottom:18px !important;}
.mb19{margin-bottom:19px !important;}
.mb20{margin-bottom:20px !important;}
.mb21{margin-bottom:21px !important;}
.mb22{margin-bottom:22px !important;}
.mb23{margin-bottom:23px !important;}
.mb24{margin-bottom:24px !important;}
.mb25{margin-bottom:25px !important;}
.mb26{margin-bottom:26px !important;}
.mb27{margin-bottom:27px !important;}
.mb28{margin-bottom:28px !important;}
.mb29{margin-bottom:29px !important;}
.mb30{margin-bottom:30px !important;}
.mb31{margin-bottom:31px !important;}
.mb32{margin-bottom:32px !important;}
.mb33{margin-bottom:33px !important;}
.mb34{margin-bottom:34px !important;}
.mb35{margin-bottom:35px !important;}
.mb36{margin-bottom:36px !important;}
.mb37{margin-bottom:37px !important;}
.mb38{margin-bottom:38px !important;}
.mb39{margin-bottom:39px !important;}
.mb40{margin-bottom:40px !important;}
.mb41{margin-bottom:41px !important;}
.mb42{margin-bottom:42px !important;}
.mb43{margin-bottom:43px !important;}
.mb44{margin-bottom:44px !important;}
.mb45{margin-bottom:45px !important;}
.mb46{margin-bottom:46px !important;}
.mb47{margin-bottom:47px !important;}
.mb48{margin-bottom:48px !important;}
.mb49{margin-bottom:49px !important;}
.mb50{margin-bottom:50px !important;}
.mb51{margin-bottom:51px !important;}
.mb52{margin-bottom:52px !important;}
.mb53{margin-bottom:53px !important;}
.mb54{margin-bottom:54px !important;}
.mb55{margin-bottom:55px !important;}
.mb56{margin-bottom:56px !important;}
.mb57{margin-bottom:57px !important;}
.mb58{margin-bottom:58px !important;}
.mb59{margin-bottom:59px !important;}
.mb60{margin-bottom:60px !important;}
.mb61{margin-bottom:61px !important;}
.mb62{margin-bottom:62px !important;}
.mb63{margin-bottom:63px !important;}
.mb64{margin-bottom:64px !important;}
.mb65{margin-bottom:65px !important;}
.mb66{margin-bottom:66px !important;}
.mb67{margin-bottom:67px !important;}
.mb68{margin-bottom:68px !important;}
.mb69{margin-bottom:69px !important;}
.mb70{margin-bottom:70px !important;}
.mb100{margin-bottom:100px !important;}
.mb150{margin-bottom:150px !important;}

.mauto{margin:0 auto !important;}

/* padding */
.p0{padding:0 !important;}
.pl0{padding-left:0 !important;}
.pl1{padding-left:1px !important;}
.pl2{padding-left:2px !important;}
.pl3{padding-left:3px !important;}
.pl4{padding-left:4px !important;}
.pl5{padding-left:5px !important;}
.pl6{padding-left:6px !important;}
.pl7{padding-left:7px !important;}
.pl8{padding-left:8px !important;}
.pl9{padding-left:9px !important;}
.pl10{padding-left:10px !important;}
.pl11{padding-left:11px !important;}
.pl12{padding-left:12px !important;}
.pl13{padding-left:13px !important;}
.pl14{padding-left:14px !important;}
.pl15{padding-left:15px !important;}
.pl16{padding-left:16px !important;}
.pl17{padding-left:17px !important;}
.pl18{padding-left:18px !important;}
.pl19{padding-left:19px !important;}
.pl20{padding-left:20px !important;}
.pl21{padding-left:21px !important;}
.pl22{padding-left:22px !important;}
.pl23{padding-left:23px !important;}
.pl24{padding-left:24px !important;}
.pl25{padding-left:25px !important;}
.pl26{padding-left:26px !important;}
.pl27{padding-left:27px !important;}
.pl28{padding-left:28px !important;}
.pl29{padding-left:29px !important;}
.pl30{padding-left:30px !important;}
.pl31{padding-left:31px !important;}
.pl32{padding-left:32px !important;}
.pl33{padding-left:33px !important;}
.pl34{padding-left:34px !important;}
.pl35{padding-left:35px !important;}
.pl36{padding-left:36px !important;}
.pl37{padding-left:37px !important;}
.pl38{padding-left:38px !important;}
.pl39{padding-left:39px !important;}
.pl40{padding-left:40px !important;}
.pl41{padding-left:41px !important;}
.pl42{padding-left:42px !important;}
.pl43{padding-left:43px !important;}
.pl44{padding-left:44px !important;}
.pl45{padding-left:45px !important;}
.pl46{padding-left:46px !important;}
.pl47{padding-left:47px !important;}
.pl48{padding-left:48px !important;}
.pl49{padding-left:49px !important;}
.pl50{padding-left:50px !important;}
.pl51{padding-left:51px !important;}
.pl52{padding-left:52px !important;}
.pl53{padding-left:53px !important;}
.pl54{padding-left:54px !important;}
.pl55{padding-left:55px !important;}
.pl56{padding-left:56px !important;}
.pl57{padding-left:57px !important;}
.pl58{padding-left:58px !important;}
.pl59{padding-left:59px !important;}
.pl60{padding-left:60px !important;}
.pl61{padding-left:61px !important;}
.pl62{padding-left:62px !important;}
.pl63{padding-left:63px !important;}
.pl64{padding-left:64px !important;}
.pl65{padding-left:65px !important;}
.pl66{padding-left:66px !important;}
.pl67{padding-left:67px !important;}
.pl68{padding-left:68px !important;}
.pl69{padding-left:69px !important;}
.pl70{padding-left:70px !important;}
.pl80{padding-left:80px !important;}
.pl90{padding-left:90px !important;}

.pt0{padding-top:0 !important;}
.pt1{padding-top:1px !important;}
.pt2{padding-top:2px !important;}
.pt3{padding-top:3px !important;}
.pt4{padding-top:4px !important;}
.pt5{padding-top:5px !important;}
.pt6{padding-top:6px !important;}
.pt7{padding-top:7px !important;}
.pt8{padding-top:8px !important;}
.pt9{padding-top:9px !important;}
.pt10{padding-top:10px !important;}
.pt11{padding-top:11px !important;}
.pt12{padding-top:12px !important;}
.pt13{padding-top:13px !important;}
.pt14{padding-top:14px !important;}
.pt15{padding-top:15px !important;}
.pt16{padding-top:16px !important;}
.pt17{padding-top:17px !important;}
.pt18{padding-top:18px !important;}
.pt19{padding-top:19px !important;}
.pt20{padding-top:20px !important;}
.pt21{padding-top:21px !important;}
.pt22{padding-top:22px !important;}
.pt23{padding-top:23px !important;}
.pt24{padding-top:24px !important;}
.pt25{padding-top:25px !important;}
.pt26{padding-top:26px !important;}
.pt27{padding-top:27px !important;}
.pt28{padding-top:28px !important;}
.pt29{padding-top:29px !important;}
.pt30{padding-top:30px !important;}
.pt31{padding-top:31px !important;}
.pt32{padding-top:32px !important;}
.pt33{padding-top:33px !important;}
.pt34{padding-top:34px !important;}
.pt35{padding-top:35px !important;}
.pt36{padding-top:36px !important;}
.pt37{padding-top:37px !important;}
.pt38{padding-top:38px !important;}
.pt39{padding-top:39px !important;}
.pt40{padding-top:40px !important;}
.pt41{padding-top:41px !important;}
.pt42{padding-top:42px !important;}
.pt43{padding-top:43px !important;}
.pt44{padding-top:44px !important;}
.pt45{padding-top:45px !important;}
.pt46{padding-top:46px !important;}
.pt47{padding-top:47px !important;}
.pt48{padding-top:48px !important;}
.pt49{padding-top:49px !important;}
.pt50{padding-top:50px !important;}
.pt51{padding-top:51px !important;}
.pt52{padding-top:52px !important;}
.pt53{padding-top:53px !important;}
.pt54{padding-top:54px !important;}
.pt55{padding-top:55px !important;}
.pt56{padding-top:56px !important;}
.pt57{padding-top:57px !important;}
.pt58{padding-top:58px !important;}
.pt59{padding-top:59px !important;}
.pt60{padding-top:60px !important;}
.pt61{padding-top:61px !important;}
.pt62{padding-top:62px !important;}
.pt63{padding-top:63px !important;}
.pt64{padding-top:64px !important;}
.pt65{padding-top:65px !important;}
.pt66{padding-top:66px !important;}
.pt67{padding-top:67px !important;}
.pt68{padding-top:68px !important;}
.pt69{padding-top:69px !important;}
.pt70{padding-top:70px !important;}
.pt90{padding-top:90px !important;}
.pt95{padding-top:95px !important;}
.pt100{padding-top:100px !important;}
.pt150{padding-top:150px !important;}

.pb0{padding-bottom:0 !important;}
.pb1{padding-bottom:1px !important;}
.pb2{padding-bottom:2px !important;}
.pb3{padding-bottom:3px !important;}
.pb4{padding-bottom:4px !important;}
.pb5{padding-bottom:5px !important;}
.pb6{padding-bottom:6px !important;}
.pb7{padding-bottom:7px !important;}
.pb8{padding-bottom:8px !important;}
.pb9{padding-bottom:9px !important;}
.pb10{padding-bottom:10px !important;}
.pb11{padding-bottom:11px !important;}
.pb12{padding-bottom:12px !important;}
.pb13{padding-bottom:13px !important;}
.pb14{padding-bottom:14px !important;}
.pb15{padding-bottom:15px !important;}
.pb16{padding-bottom:16px !important;}
.pb17{padding-bottom:17px !important;}
.pb18{padding-bottom:18px !important;}
.pb19{padding-bottom:19px !important;}
.pb20{padding-bottom:20px !important;}
.pb21{padding-bottom:21px !important;}
.pb22{padding-bottom:22px !important;}
.pb23{padding-bottom:23px !important;}
.pb24{padding-bottom:24px !important;}
.pb25{padding-bottom:25px !important;}
.pb26{padding-bottom:26px !important;}
.pb27{padding-bottom:27px !important;}
.pb28{padding-bottom:28px !important;}
.pb29{padding-bottom:29px !important;}
.pb30{padding-bottom:30px !important;}
.pb31{padding-bottom:31px !important;}
.pb32{padding-bottom:32px !important;}
.pb33{padding-bottom:33px !important;}
.pb34{padding-bottom:34px !important;}
.pb35{padding-bottom:35px !important;}
.pb36{padding-bottom:36px !important;}
.pb37{padding-bottom:37px !important;}
.pb38{padding-bottom:38px !important;}
.pb39{padding-bottom:39px !important;}
.pb40{padding-bottom:40px !important;}
.pb41{padding-bottom:41px !important;}
.pb42{padding-bottom:42px !important;}
.pb43{padding-bottom:43px !important;}
.pb44{padding-bottom:44px !important;}
.pb45{padding-bottom:45px !important;}
.pb46{padding-bottom:46px !important;}
.pb47{padding-bottom:47px !important;}
.pb48{padding-bottom:48px !important;}
.pb49{padding-bottom:49px !important;}
.pb50{padding-bottom:50px !important;}
.pb51{padding-bottom:51px !important;}
.pb52{padding-bottom:52px !important;}
.pb53{padding-bottom:53px !important;}
.pb54{padding-bottom:54px !important;}
.pb55{padding-bottom:55px !important;}
.pb56{padding-bottom:56px !important;}
.pb57{padding-bottom:57px !important;}
.pb58{padding-bottom:58px !important;}
.pb59{padding-bottom:59px !important;}
.pb60{padding-bottom:60px !important;}
.pb61{padding-bottom:61px !important;}
.pb62{padding-bottom:62px !important;}
.pb63{padding-bottom:63px !important;}
.pb64{padding-bottom:64px !important;}
.pb65{padding-bottom:65px !important;}
.pb66{padding-bottom:66px !important;}
.pb67{padding-bottom:67px !important;}
.pb68{padding-bottom:68px !important;}
.pb69{padding-bottom:69px !important;}
.pb70{padding-bottom:70px !important;}

.pr0{padding-right:0 !important;}
.pr1{padding-right:1px !important;}
.pr2{padding-right:2px !important;}
.pr3{padding-right:3px !important;}
.pr4{padding-right:4px !important;}
.pr5{padding-right:5px !important;}
.pr6{padding-right:6px !important;}
.pr7{padding-right:7px !important;}
.pr8{padding-right:8px !important;}
.pr9{padding-right:9px !important;}
.pr10{padding-right:10px !important;}
.pr11{padding-right:11px !important;}
.pr12{padding-right:12px !important;}
.pr13{padding-right:13px !important;}
.pr14{padding-right:14px !important;}
.pr15{padding-right:15px !important;}
.pr16{padding-right:16px !important;}
.pr17{padding-right:17px !important;}
.pr18{padding-right:18px !important;}
.pr19{padding-right:19px !important;}
.pr20{padding-right:20px !important;}
.pr21{padding-right:21px !important;}
.pr22{padding-right:22px !important;}
.pr23{padding-right:23px !important;}
.pr24{padding-right:24px !important;}
.pr25{padding-right:25px !important;}
.pr26{padding-right:26px !important;}
.pr27{padding-right:27px !important;}
.pr28{padding-right:28px !important;}
.pr29{padding-right:29px !important;}
.pr30{padding-right:30px !important;}
.pr31{padding-right:31px !important;}
.pr32{padding-right:32px !important;}
.pr33{padding-right:33px !important;}
.pr34{padding-right:34px !important;}
.pr35{padding-right:35px !important;}
.pr36{padding-right:36px !important;}
.pr37{padding-right:37px !important;}
.pr38{padding-right:38px !important;}
.pr39{padding-right:39px !important;}
.pr40{padding-right:40px !important;}
.pr41{padding-right:41px !important;}
.pr42{padding-right:42px !important;}
.pr43{padding-right:43px !important;}
.pr44{padding-right:44px !important;}
.pr45{padding-right:45px !important;}
.pr46{padding-right:46px !important;}
.pr47{padding-right:47px !important;}
.pr48{padding-right:48px !important;}
.pr49{padding-right:49px !important;}
.pr50{padding-right:50px !important;}
.pr51{padding-right:51px !important;}
.pr52{padding-right:52px !important;}
.pr53{padding-right:53px !important;}
.pr54{padding-right:54px !important;}
.pr55{padding-right:55px !important;}
.pr56{padding-right:56px !important;}
.pr57{padding-right:57px !important;}
.pr58{padding-right:58px !important;}
.pr59{padding-right:59px !important;}
.pr60{padding-right:60px !important;}
.pr61{padding-right:61px !important;}
.pr62{padding-right:62px !important;}
.pr63{padding-right:63px !important;}
.pr64{padding-right:64px !important;}
.pr65{padding-right:65px !important;}
.pr66{padding-right:66px !important;}
.pr67{padding-right:67px !important;}
.pr68{padding-right:68px !important;}
.pr69{padding-right:69px !important;}
.pr70{padding-right:70px !important;}
.pr90{padding-right:90px !important;}
.pr100{padding-right:100px !important;}
.pr105{padding-right:105px !important;}
.pr110{padding-right:110px !important;}
.pr115{padding-right:115px !important;}
.pr120{padding-right:120px !important;}
.pr125{padding-right:125px !important;}
/* color */
.red{color:#ff3d33 !important;}
.blue{color:#3380ff !important;}
.green{color:#22b63a !important;}
.orange{color:#ff6833 !important;}
.gray{color:#999 !important;}
/* border_color */
.bor_red{border:1px solid #ff3d33 !important;}
.bor_blue{border:1px solid #3380ff !important;}
.bor_green{border:1px solid #22b63a !important;}
.bor_orange{border:1px solid #ff6833 !important;}
.bor_gray{border:1px solid #999 !important;}
.brt_eb{border-top: 1px solid #ebebec;}

/*display*/
.dp_b{display:block !important;}
.dp_i{display:inline !important;}
.dp_ib{display:inline-block !important;}
/*text align*/
.tal{text-align:left !important;}
.tac{text-align:center !important;}
.tar{text-align:right !important;}

/* background_color */
.bg_white{background-color:#fff !important;}
/* read_comfirmation */
.r_cfm strong{color:#999 !important;font-weight:500 !important;}
.r_cfm p{color:#999 !important;}
.r_cfm span{color:#999 !important;}