@charset "utf-8";

html, body, div, span, object, iframe, textarea,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	box-sizing:border-box;	
}


article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}
a {text-decoration:none;color:#333;outline:none;}
a:hover {text-decoration:none;}
/* change colours to suit your needs */
img {
	vertical-align:top;
}
table {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}
table caption, 
.hide, .skip,
.hidden{visibility:hidden;overflow:hidden;position:absolute;left:-9999px;margin:0;padding:0;width:1px;height:0px;font-size:0;line-height:0;text-indent:-9999px;}


li {list-style-type:none;}
img{max-width:100%;}
li img, dd img {vertical-align:top;}
hr{display:none;}  
input, select {vertical-align:middle;box-sizing: border-box;}

*, *:after, *:before {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

button{outline:none;cursor:pointer;}

h1, h2, h3, h4, h5, h6{font-weight:500;}
strong{font-weight:500;}

em {font-style:normal;}